<!--Start of Tawk.to Script-->

<!--End of Tawk.to Script-->
     <% include partials/header %>

<div id="landing-header">
   <h1 style="color: ##ffffff; font-size: 4vw;">Welcome to ORDERISTA</h1>
  <a href="/landing" class="btn btn-lg btn-dark">View All Restaurants</a>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ceeab879b08041873b29732/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>


     <% include partials/footer %>
