<% include partials/header %>
<div class="conatiner">
<div class="jumbotron justify-content-center text-center" style="height: 100%;">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please Be Patient</strong> your order will be delivered shortly by the restaurant</p>
  <hr>
  <p>
    Having trouble? <a href="/contact">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-dark btn-sm" href="/" role="button">Continue to order delicious food</a>
  </p>
</div>
</div>
<% include partials/footer %>